<?php

return PhpCsFixer\Config::create()
  ->setRules([
      '@Symfony' => true,
      'concat_space' => ['spacing' => 'one'],
      'trailing_comma_in_multiline_array' => false,
      'array_syntax' => ['syntax' => 'short'],
      'logical_operators' => true,
      'yoda_style' => true,
      'increment_style' => ['style' => 'post'],
      'array_indentation' => true,
      'blank_line_before_statement' => [
          'statements' => [
              'break',
              'continue',
              'declare',
              'return',
              'throw',
              'try',
              'if',
              'for',
              'foreach',
              'switch',
              'while'
          ]
      ],
      'class_attributes_separation' => [
        'elements' => ['method', 'property']
      ]
  ]);
